# Librerías base
streamlit
numpy
pandas

# Visualización
matplotlib
matplotlib-inline
matplotlib-venn
plotly

# Inteligencia Artificial (Versiones estándar de PyPI para CPU)
torch>=2.1.0
torchvision
torchaudio
huggingface-hub

# Utilidades
torchsummary

# matplotlib==3.10.0
# matplotlib-inline==0.2.1
# matplotlib-venn==1.1.2
# numpy==2.0.2
# torch==2.10.0+cu128
# torch>=2.1.0
# torchao==0.10.0
# torchaudio==2.10.0+cu128
# torchcodec==0.10.0+cu128
# torchdata==0.11.0
# torchsummary==1.5.1
# torchtune==0.6.1
# torchvision==0.25.0+cu128
# huggingface-hub==0.36.0